<!DOCTYPE html>
<html>

<head>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<script>


</script>

<body>
    <h1>
        <%= teste %>
    </h1>
    <form action="/captcha" method="POST" >
        <div id="t" class="g-recaptcha" data-sitekey="6LeeCDsUAAAAAI8cHDOTveHn9ALF0tuZ4WqSL5ck"></div>
        <input type="submit" value="Ev"  />
    </form>
    <p>My first paragraph.</p>
</body>

</html>